.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups/*
melpa-stable
archive-contents
*.elc
var/*
.idea/*
eaf/*
elpa/*
history
.cache
.DS_Store
eln-cache/*
org-persist/*
transient
eshell/*
librime/*
rime/*
tree-sitter/*
.DS_Store
